<div class="container-cocktail">
  <div class="container-photo">
  </div>
</div>
<div>
  <div class="cocktails">
    <% @cocktails.each do |cocktail| %>
      <div class="cocktail-item">
        <h3><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
      <% end %>
    <%= link_to "Add Cocktail", new_cocktail_path %>
  </div>
